$page-width: 960px;
$color-blue: rgb(44, 62, 80);
$color-orange: rgb(243, 156, 18);
$color-green: rgb(26, 156, 188);


html{
	padding: 0;
	margin: 0;
}

body{
	margin: 0 auto;
	width: $page-width;
}

header{
	background: $color-blue;
	height: 106px;
}

figure{
	margin: 20px 0 0 80px;
}

nav{
	float: right;
	margin: 5px 80px 0 0;
	ul{
		margin: 0;
		li{
			display: inline-block;
		}
	}
}

section{
	display: block;
	height: auto;
	padding: 50px 80px;
	box-sizing: border-box;
}

h2{
	font-size: 1.8em;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}


.slogan{
	line-height: 25px;
	font-size: 1em;
	color: #fff;

}


.second-nav{
	margin-left: 175px;
	li{
		display:inline-block;
	}
	
}

.col {
	display: inline-block;
	vertical-align: top;
}

.col-large{
	@extend .col; 
	width: 69%;
}

.col-small{
	@extend .col; 
	width: 29%;
}

.col-medium{
	@extend .col; 
	width: 49%;
}

.btn{
	display:block;
	text-align: center;
	color: white;
	font: {
		family: sans-serif;	
		weight: bold;
	}
}

.btn-medium {
	line-height: 45px;
	height: 45px;
	width: 97px;	
}

.btn-large {
	height: 45px;
	width: 135px;	
}

.btn-super {
	text-align: left;
	padding: 10px 20px;
	box-sizing: border-box;
	height: 70px;
	width: 412px;
	.title{
		display: block;
		font-size: 1.5em;
	}
	.subtitle{
		display: block;
		font-size: .8em;
		font-weight: normal;
	}
}

.bg-green {
	background: $color-green;
}

.bg-orange {
	background: $color-orange;
}

.bg-blue {
	background: $color-blue;
}

.text-green {
	color: $color-green;
}

.text-orange {
	color: $color-orange;
}

.text-blue {
	color: $color-blue;
}




 
